<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Team Generation</title>
</head>
<body>
<h1>Team Generation</h1>
<form method="POST" action="/team/generate">
    <label for="participants">Teilnehmer ( ; Seperated)</label>
    <input type="text" name="participants" id="participants">
    <br>
    <label for="teamvariant">Wähle die Teamvariante:</label>
    <select name="teamvariant" id="teamvariant">
        <option value="TALL">Alle</option>
        <option value="T2ER">2er Team</option>
        <option value="T3ER">3er Team</option>
        <option value="T4ER">4er Team</option>
        <option value="T5ER">5er Team</option>
        <option value="T6ER">6er Team</option>
        <option value="T7ER">7er Team</option>
        <option value="T8ER">8er Team</option>
        <option value="T9ER">9er Team</option>
        <option value="T10ER">10er Team</option>
    </select>
    <input type="submit" value="Calculate"/>
</form>
</body>
</html>